.blogSearch{
  position: absolute;
  right: 545px;
  top: 110px;
}
.blogList{
  margin-top: 90px;
  margin-bottom: 90px;
}
.pageStyle{
  margin-bottom: 100px;
}
.blogListCard {
  height: 165px;
  margin-top: 20px;
  cursor: pointer;
  .blogTitle {
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .briefContent {
    width: 100%;
    height: 67px;
    font-size: 14px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding-top: 5px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .updateTime{
    font-size: 13px;
    color: #999;
  }

}
